[Unit]
Description=OSdog agent (send stats, receive commands)
After=network-online.target
After=boot.service

[Service]
Type=simple
ExecStart=/usr/bin/nice -n -20 /dog/agent run
WorkingDirectory=/dog

[Install]
WantedBy=multi-user.target
