[Unit]
Description=OSdog boot

[Service]
Type=oneshot
ExecStart=/dog/boot
WorkingDirectory=/dog
RemainAfterExit=1
TimeoutSec=600

[Install]
WantedBy=multi-user.target
