[Unit]
Description=OSdog Console on TTY1

[Service]
Type=simple
ExecStart=/dog/dog-console

StandardOutput=tty
StandardInput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
