[Unit]
Description=OSdog wrapper for Tmate
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=1
ExecStart=/dog/dogmate start-cli
#User=user
#ExecStop=/dog/dogmate stop-cli

#StandardOutput=tty
#StandardInput=tty
#TTYPath=/dev/tty1
