[Unit]
Description=OSdog mining daemon
#After=display-manager.service
#Requires=display-manager.service
After=boot.service
#networking.service is not working in 18.04

[Service]
Type=simple
ExecStart=/dog/mining
WorkingDirectory=/dog

[Install]
WantedBy=multi-user.target

#After=network-online.target
