[Unit]
Description=Sobaka start & driver check

[Service]
Type=oneshot
ExecStart=/home/user/bin/sobaka-boot
WorkingDirectory=/sobaka
RemainAfterExit=1
TimeoutSec=300

[Install]
WantedBy=multi-user.target
