[Unit]
Description=Start x11vnc at display :0
After=network.target boot.service dogx.service
#Requires=sobakax.service #don`t use Requires! sobakax will be "static"

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/dog/vnc

[Install]
WantedBy=multi-user.target
