[Unit]
Description=OSdog LA Watchdog Service
After=boot.service
#Requires=sobaka.service

[Service]
Type=oneshot
RemainAfterExit=1
ExecStart=/dog/wd-la start

[Install]
WantedBy=multi-user.target
