[Unit]
Description=OSdog GPU Load Watchdog
After=mining.service

[Service]
Type=oneshot
RemainAfterExit=1
ExecStart=/dog/wd-load start

[Install]
WantedBy=multi-user.target
