[Unit]
Description=OSdog Watchdog Service
After=mining.service
#Requires=sobaka.service

[Service]
Type=oneshot
RemainAfterExit=1
ExecStart=/dog/wd screen

[Install]
WantedBy=multi-user.target
